<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/pablo-gaston-baldini-91951284/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/baldipa3" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
