<div class="navbar sticky navbar-expand-sm navbar-light sticky navbar-fixed-top">
  <%= link_to root_path, class: "icon" do %>
    <div>
      <i class="fas fa-cocktail"></i>
      <h2>Awsome Cocktails</h2>
    </div>
  <% end %>

  <%= link_to new_cocktail_path, class: "new-cocktail" do %>
    <p>Add Your Own Cocktail</p>
  <% end %>

  <h3>Search</h3>
</div>
