<%= form_tag root_path, method: :get do %>
<div>
  <div class='search-container'>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search.."
  %>
    <%= button_tag(type: 'submit', class: "button-search") do %>
       <i class="fas fa-search"></i>
    <% end %>
  </div>
</div>
<% end %>
