.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 48px;
  height: 800px;
  margin-top: -60px;

}

.banner h1 {
  color: #DCDCDC;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Monoton', cursive;
  position: absolute;
  top: 120px;
  left: 420px;
}
