.sticky {
  justify-content: space-between;
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-bottom: 24px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-right: 50px;
}

.icon {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 36px;
  padding: 0px 10px;
  i {
    display: inline;

  }
  h2 {
    display: inline;

  }
  &:hover {
    opacity: 0.8;
    cursor:pointer;
    color: white;
    text-decoration: none;
  }
}

.new-cocktail {
  font-family: "Raleway", "Helvetica", "sans-serif";
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 10px 0px 10px;
  left: 650px;
  top: 12px;
  // position: absolute;
  border: 2px ridge;
  text-align: center;
  line-height: 10px;
  border-radius: 16px;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
    cursor:pointer;
    color: white;
    text-decoration: none;
  }
}

.nav-lk {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  &:hover {
    opacity: 0.8;
    cursor:pointer;
    color: white;
    text-decoration: none;
  }
}
